html
  head
    link(href='https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.1.0/modern-normalize.min.css' rel='stylesheet')
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin)
    link(href='https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700;900&display=swap' rel='stylesheet')
    style.
      body {
        color: #fafafa;
        background-color: #18181b;
        font-size: 24px;
        font-family: 'Noto Sans TC';
        line-height: 2;
        padding: 1rem;
      }
      ruby rt {
        margin-left: 3px;
        margin-right: 3px;
        text-align: center;
      }

  body
    .lyrics !{lyrics}
